body {
	font-size: calc((1.1vmax + 1.05vh)/2); 
	position:fixed;
}

svg {
	display: block;
	width: 100%;
	height: 80%;
	cursor: crosshair; 
}
	
a {
	text-decoration: none;
	color:black;
}

a:visited {
	color: black;
}
	
a:hover {
	text-decoration: underline;
}
	
path {
	stroke-width: 0.015vmax  ; 
	stroke-linejoin: round; 
	stroke-linecap: round; 
	cursor: help; 
}
	
path:hover {
	fill-opacity: .5;
}


.BGQirailSTAT{
	stroke-width: 0.2;
	fill-opacity: 1 ;
	stroke: white;
}
.BGQirailSTAT:hover {
	stroke-width: 9;
	stroke-opacity: 0.8;
	fill-opacity: 0.8 ; 
}
	
#mapcontainer {
	font: 1em sans-serif;
}
	   
.legend {
	padding-bottom: 1vh;
	padding-left: 1vh; 
	cursor: default;
	max-width : 90% ;
	opacity: 1; 
}
	
#legendecontainer {
	position : absolute ;
	text-align: left ; 
	background-color: white; 
	font: 1em sans-serif;
	bottom : 10% ;
	left :2.5% ;  width : 13% ;
	height : 30% ;
	
	background-color: rgba(255,255,255,0.85) ;
	overflow:auto;
}



.title1 {
	margin-top : 1vh ; 
	margin-bottom : 1vh ; 
	font-family: Josefin Slab; 
	background-color: white; 
	line-height:93%; 
	padding: 1.5%; 
	cursor: default;
}

#title1container {
	position : absolute ; 
	text-align: left ; 
	left :2.5% ; 
	height : 6.5% ;   
	margin-top : 2.5% ; 
	opacity: 0.85; 
	font: calc( (2.2vh + 2.05vw)/2 ) sans-serif; 
	max-width: 50%; 
}

.title2 {
	left: 2%; 
	padding-left : 2% ; 
	padding-right : 3% ; 
	margin-top : 3% ;
	cursor: default;
	padding-bottom: 2vh;
	line-height: 1em;
}

#copyrightlogo {
	position : absolute ;
	text-align: left ; 
	font-size: calc( (0.95vh + 0.8vw)/2 ); 
	bottom : 4% ;
	left :2.5% ;
	width : 20% ;
	opacity: 0.5;
}

#copyrightlabel {
	position : absolute ;
	text-align: left ; 
	bottom : 4% ;
	left :21.5% ;
	line-height: 0.8em;
	display: none;
	cursor: default;
	margin-left:3vmax;
	padding: 0 1vw 0 1vw;   
}

#copyrightlogo:hover #copyrightlabel,
#copyrightlabel:hover {
	display: block;
	background-color: white;
}

#copyrightfull {
	position : absolute ; 
	background-color : #aabbcc  ;
	right : 2vmax ; 
	width : 18vmax;
	height : 67vh ;
	bottom : 4vh ; 
	font-size : 1.2em ;
	display: none; 
	z-index: 4;
}

#copyrightreduce {
	position : absolute ;
	height : 3vmax ; 
	width: 3vmax;
	cursor : pointer ;
	float : right ; 
	right : 0vmax ; 
	z-index: 5;
	display: none;
}
	
.subtitle1 {
	padding: 1vh; 
	background-color: white; 
	line-height:93%;  
	cursor: default;
}
	
#subtitle1container {
	position : absolute ;
	text-align: left ; 
	font: 1.2vmax sans-serif;
	bottom : 9vh ;
	left :2.5% ;  max-width : 20% ; 
	opacity: 0.85;
	font-size: calc( (1.4vh + 1.25vw)/2 );
}

.title3 {
	margin-left : 5% ; 
	margin-right : 15% ; 
	font: calc( (1.9vh + 1.75vw)/2 ) 'Josefin Slab';
	cursor: default;
}

.explications {
	cursor: default;
	margin-left : 5% ;
	margin-right : 15% ; 
	font-size: calc( (1.35vh + 1.2vw)/2 );
	line-height: 0.9em;
}

.explications2 {
	cursor: default;
	margin-left : 0 ;
	margin-right : 5vw ; 
	font-size: calc( (1.35vh + 1.2vw)/2 );
	line-height: 0.9em;

}

.title5 {
	margin-left : 5% ; 
	margin-right : 22% ; 
	font: calc( (1.9vh + 1.75vw)/2 ) 'Josefin Slab';
	cursor: default;
}
  

/* **********************************************
****************** MENU DATASETS ****************
********************************************** */

.linkintitule {font-size: calc( (1.2vh + 1.05vw)/2 ) ;float:left;width: 66%;margin-right: auto;margin-top:auto;margin-bottom: auto;margin-left:0;}
.link1 {font-size: calc( (0.9vh + 0.75vw)/2 ) ;float:right;margin-right: auto;margin-top:auto;margin-bottom: auto;margin-left:0.1vw;}
.link2 {font-size: calc( (0.9vh + 0.75vw)/2 ) ;float:right;margin-left: 0.1vw;margin-top:auto;margin-bottom: auto;margin-right:0;}



/* **********************************************
******************** CSS MENUS ******************
********************************************** */


/* ******* menus "A" (choix zone étude) ****** */

#menuAopen{
	position : absolute ; 
	margin-top : 3vmax ; 
	right : 22vmax ; 
	height : 3vmax ; 
	width : auto ; 
	cursor : pointer ;
	opacity: 0.85; 
	z-index: 1;
	display:block;
	/*transition: all 400ms;*/
}
	
#menuAlabel{
	position : absolute ;
	text-align: right ;
	font-size : calc( (1.5vh + 1.35vw)/2 ) ;
	width : 15vmax ; 
	right : 4vmax ; 
	padding-right: 0.5vmax;
	padding-top: 0;
	padding-bottom: 0.6vmax;
	height : 2.4vmax ; 
	cursor : pointer ;
	display:block;
	z-index: 1;
	font-weight: bold;
	/*transition: all 400ms;*/
}
	
#menuAopen:hover #menuAlabel,
#menuB0open:hover #menuB0label,
#menudatasetopen:hover #menudatasetlabel,
#menuB2BGQopen:hover #menuB2BGQlabel {
	opacity: 0.9;
	background-color: white;
}

#menuAfull{
	position : absolute ; 
	background-color : #aabbcc  ;
	margin-top : 3vmax ;
	right : 2vmax ; 
	font-size : 1.2em ;
	display : none ;
	max-height : 74% ;
	width : 30% ; 
	z-index: 2;
}	

#menuAreduce,#menuB0reduce, #menudatasetreduce, #menuB2BGQreduce,
#menuC1BBTYreduce,#menuC1BBTZreduce, 	#menuC1BBTAreduce,
#menuC1BBTBreduce, 	#menuC1BBTCreduce,
#menuC2BGQBreduce, 	#menuC2BGQCreduce,#menuC2BGQDreduce, 
#menuC1BBTDreduce, 	#menuC1BBTEreduce,
#menuC1BBTFreduce, #menuC1BBTGreduce {
	
	position : absolute ;
	height : 3vmax ; 
	width: 3vmax;
	cursor : pointer ;
	float : right ; 
	right : 0vmax ; 
	opacity: 0.8; 
	z-index: 2;
}
	
#menuAreduce { height : 3vmax ; }
	
#menuB0reduce, #menudatasetreduce, #menuB2BGQreduce { height : 7vmax ; }
	
#menuC1BBTYreduce, #menuC1BBTZreduce, 	#menuC1BBTAreduce,
#menuC1BBTBreduce, 	#menuC1BBTCreduce,
#menuC2BGQBreduce, 	#menuC2BGQCreduce,#menuC2BGQDreduce,
#menuC1BBTDreduce, 	#menuC1BBTEreduce,
#menuC1BBTFreduce, #menuC1BBTGreduce { height : 11vmax ; }
	
/* ******* menus "B" (choix couches) ****** */
	
#menuB0open, #menudatasetopen, #menuB2BGQopen {
	position : absolute ; 
	margin-top : 7vmax ; 
	right : 22vmax ; 
	height : 3vmax ; 
	width : auto ; 
	cursor : pointer ;
	opacity: 0.85; 
	z-index: 1;
	/*transition: all 400ms;*/ display:none;
	font-weight: bold;
}
	
#menuB2BGQopen {
	display: none;
	z-index: 1;
}
	
#menuB0label, #menudatasetlabel, #menuB2BGQlabel{
	position : absolute ;
	text-align: right ;
	right : 4vmax ; 
	padding-right: 0.5vmax;
	padding-top: 0;
	padding-bottom: 0.6vmax;
	height : 2.4vmax ; 
	font-size : calc( (1.5vh + 1.35vw)/2 ) ;
	width : 15vmax ;  
	cursor : pointer ;
	z-index: 1;
	/*transition: all 400ms;*/ display:block;
}
	
#menuB2BGQlabel {
	display: none;
	z-index: 1;
}
	
#menuB0full, #menudatasetfull, #menuB2BGQfull {
	position : absolute ;
	background-color : #dddddd  ;
	margin-top : 2vmax ;
	height : 72vh ;  
	right : 2vmax ; 
	font-size : 1.2em ;
	display : none ;
	
	width : 40% ; 
	display : none ;
	z-index: 2;
}
	
/* ******* menus "D" (nb communautés) ****** */

#menuC1BBTYopen,  #menuC1BBTZopen,	#menuC1BBTAopen,
#menuC1BBTBopen, 	#menuC1BBTCopen,
#menuC2BGQBopen, 	#menuC2BGQCopen,#menuC2BGQDopen,
#menuC1BBTDopen, 	#menuC1BBTEopen,
#menuC1BBTFopen, #menuC1BBTGopen {
	position : absolute ; 
	margin-top : 11vmax ; 
	right : 22vmax ; 
	height : 3vmax ; 
	width : auto ; 
	cursor : pointer ;
	opacity: 0.85; 
	z-index: 1;
	/*transition: all 400ms;*/ display:none;
	font-weight: bold;
}
	
#menuC1BBTZopen,#menuC1BBTAopen,
#menuC1BBTBopen, 	#menuC1BBTCopen,
#menuC2BGQBopen, 	#menuC2BGQCopen,#menuC2BGQDopen,
#menuC1BBTDopen, 	#menuC1BBTEopen,
#menuC1BBTFopen, #menuC1BBTGopen {
	display: none;
	z-index: 1;
}
	
#menuC1BBTYlabel, #menuC1BBTZlabel,	#menuC1BBTAlabel,
#menuC1BBTBlabel, 	#menuC1BBTClabel,
#menuC2BGQBlabel, 	#menuC2BGQClabel,#menuC2BGQDlabel,
#menuC1BBTDlabel, 	#menuC1BBTElabel,
#menuC1BBTFlabel, #menuC1BBTGlabel {
	position : absolute ;
	text-align: right ;
	font-size : calc( (1.5vh + 1.35vw)/2 ) ;
	width : 15vmax ; 
	right : 4vmax ; 
	padding-right: 0.5vmax;
	padding-top: 0 ;
	padding-bottom: 0.6vmax;
	height : 2.4vmax ; 
	cursor : pointer ;
	z-index: 1;
	/*transition: all 400ms;*/ display:block;
}
	
#menuC1BBTAlabel,#menuC1BBTZopen,
#menuC1BBTBlabel, 	#menuC1BBTClabel,
#menuC2BGQBlabel, 	#menuC2BGQClabel,#menuC2BGQDlabel,
#menuC1BBTDlabel, 	#menuC1BBTElabel,
#menuC1BBTFlabel, #menuC1BBTGlabel {
	display: none;
	z-index: 1;
}
	
#menuC1BBTYfull,#menuC1BBTZfull, 	#menuC1BBTAfull,
#menuC1BBTBfull,	#menuC1BBTCfull,
#menuC2BGQBfull,	#menuC2BGQCfull,#menuC2BGQDfull,
#menuC1BBTDfull,	#menuC1BBTEfull,
#menuC1BBTFfull, #menuC1BBTGfull {
	position : absolute ;
	background-color : #aabbcc  ;
	margin-top : 2vmax ;
	right : 2vmax ; 
	font-size : 1.2em ;
	display : none ;
	max-height : 74% ;
	width : 30% ; 
	z-index: 2;
}


#menuC1BBTYopen:hover #menuC1BBTYlabel,
#menuC1BBTZopen:hover #menuC1BBTZlabel,
#menuC1BBTAopen:hover #menuC1BBTAlabel,
#menuC1BBTBopen:hover #menuC1BBTBlabel,
#menuC1BBTCopen:hover #menuC1BBTClabel,
#menuC1BBTDopen:hover #menuC1BBTDlabel,
#menuC1BBTEopen:hover #menuC1BBTElabel,
#menuC1BBTFopen:hover #menuC1BBTFlabel,
#menuC1BBTGopen:hover #menuC1BBTGlabel,
#menuC2BGQBopen:hover #menuC2BGQBlabel,
#menuC2BGQCopen:hover #menuC2BGQClabel,
#menuC2BGQDopen:hover #menuC2BGQDlabel {
	opacity: 0.9;
	background-color: white;
}

/* ******* menus "E" (supplémentaire) ****** */	

.buttonLevel1, .buttonmenudataset, .buttonmenuB2BGQ, .buttonmenuC1BBTY, .buttonmenuC1BBTZ, .buttonmenuC1BBTA {
	position : relative ;
	
	min-height : 2vh ;
	width : 22vw ;
	border-radius : 0.6vh;
	border : none ;
	cursor : pointer ;
	padding: 0.5vh;
	float : left ;
	text-align : left ;
	margin-bottom: 0.5vmax ;
	font-size : calc( (1.25vh + 1.15vw)/2 ) ;
	line-height: 1.05em;
}
	
.buttonLevel1bis, .buttonmenuC2BGQD {
	position : relative ;
	
	min-height : 2vh ;
	width : 22vw ;
	border-radius : 0.6vh;
	border : none ;
	cursor : pointer ;
	padding: 0.5vh;
	float : left ;
	text-align : left ;
	margin-bottom: 2vh ;
	font-size : calc( (1.1vh + 1vw)/2 ) ;
	line-height: 1.05em;
}
	
.buttonLevel2, .buttonmenudatasetbis {
		
	position : relative ;
	width : 9vw ;
	line-height: 0.8em;
	font-size : calc( (1.20vh + 1.10vw)/2 ) ;
	margin-bottom : 2vh ;
	margin-right:1vw;
	float : left ;
	text-align : left ;
	min-height : 1.5vh ;
	border-radius : 0.5vh;
	border : none ;
	cursor : pointer ;
	padding: 0.4vh;
	background: #dddddd; 
	display: inline-block;
}
	
.buttonmenulevel3, .buttonmenuC2BGQB, .buttonmenuC2BGQC, .buttonmenuC1BBTB, .buttonmenuC1BBTC, .buttonmenuC1BBTD, .buttonmenuC1BBTE, .buttonmenuC1BBTF, .buttonmenuC1BBTG {
	 position : relative ; min-height : 2vh ; width : 3vw;
	 border-radius : 0.6vh; border : none ; cursor : pointer ; padding: 0.5vh;
	 float : left ; text-align : center ; margin-left: 1% ; margin-right: 1% ;
	 margin-bottom: 2vh ; font-size : calc( (1.4vh + 1.15vw)/2 ) ;
	 line-height: 1.05em; display: inline ; 
}

.infobox, .infobox2, .infobox3 {
	position : absolute ; bottom : 5.5vh ; font-size : calc((1.10vmax + 1.05vh)/2) ;right:2% ; width: 13.8vw; opacity: 0.75; padding: 0.6%; cursor: default; display: none;
}
.infobox {
	text-align: right ; z-index: 1; 
}
.infobox2 {
	text-align: left ; z-index: 3; 
}







.BBTlimitegeneralecommphone, .BBTprovBBTgrid, .BBTcommBBTadmin, .BBTcommBBTgrid, .BGQprovBGQcomm, .BGQlimitegenerale, .BGQirailSEGM, .BGQirailSTAT, .BBTlimitegenerale {display:none; }

.BBTprovBBTadmin, .BBTlimitescommunautes, .BBTlimitescommunautesphone {display:block;}








.textelogo {
	vertical-align: middle;
}

button {

	border: 1px solid #ccc;
	border-radius: 1em;
	padding: 0.25em;
	margin: 0.3em ;
	font-size: calc((0.95vmax + 0.8vh)/2) ;
	
}

button:hover {

	opacity: 0.8;
	cursor: pointer;
	
}

#buttonBBT img,  #buttonBGQ img {
	vertical-align: middle; margin: 0.3vmax; height:calc((3.55vmax + 3.10vh)/2);  
}

#LDG {
	position:absolute;
	bottom : 4vh ;
	right : 11vmax ;
	height: 3vmax ; 
	cursor : none ;
	z-index: 100;
	/*transition: all 400ms;*/ 
	display:none;
	max-width:80vw;
	
}




.boutonsvariables {overflow:auto;max-height: 50vh;display: inline-block;margin-left: 2vw;margin-right: 2vw ;}
.boutonsvariables2 {margin-left: 0vw ; margin-right : 2vw ; margin-top: -0.5vh;margin-bottom: -0.5vh ;display: flex;}




#menusandshortcuts {
	position : absolute ; 
	right : 2vmax ; 
	margin-top : 2vmax ; 
	height:50vh;
}


#shortcutA, #shortcutB, #shortcutC {
	position : absolute ;
	right : 0 ;
	height : 3vmax ; 
	width : auto ; 
	cursor : pointer ;
	opacity: 0.85; 
	z-index: 1;
	display:block;
	/*transition: all 400ms;*/
}

#shortcutD {
	position : absolute ;
	right : 0 ;
	height : 3vmax ; 
	width : auto ; 
	cursor : pointer ;
	opacity: 0.85; 
	z-index: 1;
	display:none;
	/*transition: all 400ms;*/
}



#shortcutA {margin-top : 0vmax ;}
#shortcutB {margin-top : 3.8vmax ;}
#shortcutC {margin-top : 7.6vmax ;}
#shortcutD {margin-top : 11.4vmax ;}


#shortcutlabelA, #shortcutlabelB, #shortcutlabelC, #shortcutlabelD {
	position : absolute ;
	text-align: right ;
	font-size : calc( (1.3vh + 1.15vw)/2 ) ;
	margin-top : -3.25vmax ;
	width : auto ;
	
	right : 3vmax ; 
	padding-left: 1vw;
	padding-right: 0.5vmax;
	padding-top: 0.2vmax;
	padding-bottom: 0.7vmax;
	
	height : 2.1vmax ; 
	cursor : pointer ;
	display:block;
	z-index: 1;
	font-weight: bold;
	/*transition: all 400ms;*/
	white-space: nowrap;
	
	display: block;
	/*background: rgba(255,255,255,0.65);*/
	padding:0 0.5vmax 0.6max 0;
	
}

#shortcutA:hover #shortcutlabelA, #shortcutB:hover #shortcutlabelB, #shortcutC:hover #shortcutlabelC, #shortcutD:hover #shortcutlabelD {
	display: block;
	background: white;
	padding:0 0.5vmax 0.6max 0;
	opacity:0.95;
}




#shortcutsE, #shortcutsF, #shortcutsG, #shortcutsGbis {
	position : absolute ; 
	 
	right: 0;
	width : auto ; 
	cursor : pointer ;
	opacity: 0.65; 
	z-index: 1;
	float:right;
	
	/*transition: all 400ms;*/
	display: inline-block;
	
	  display: flex;
  justify-content: space-between;
}

#shortcutsE {margin-top : 19vmax ;}
#shortcutsF {margin-top : 24vmax ;}
#shortcutsG {margin-top : 15vmax ;}
#shortcutsGbis {margin-top : 17.5vmax ;}



#shortcutE1, #shortcutE2, #shortcutE3, #shortcutF1, #shortcutF2, #shortcutF3, #shortcutF4,
#shortcutG1, #shortcutG2, #shortcutG3, #shortcutG4, #shortcutG5, #shortcutG6, #shortcutG7


{
position: relative;
	float: right;
	height : 2vmax ; 
	padding-left: 1vw;
    display: none;
	
	
}


.selectedhour 


{
position: relative;
	float: right;
	height : 2vmax ; 
	padding-left: 1vw;
    pointer-events: none;
    display: none;
    cursor: none;
	
}




#shortcutslabelE, #shortcutslabelF, #shortcutslabelG {
	position : absolute ;
	text-align: right ;
	font-size : calc( (1.25vh + 1.15vw)/2 ) ;
	
	width : auto ;
	right : 0 ; 
	line-height: 85%;
	pointer-events: none;
	white-space: nowrap;
    display: none;

}

#shortcutslabelE {margin-top : 17vmax ;}
#shortcutslabelF {margin-top : 22vmax ;}
#shortcutslabelG {margin-top : 13vmax ;}








#outilAlogo, #outilBlogo, #outilClogo, #outilDlogo {
	position : absolute ; 
	bottom : 4vh ; 
	height: 3vmax ; 
	cursor : pointer ;
	z-index: 2;
	/*/*transition: all 400ms;*/ */
	display:block;
	font-weight: bold;
	opacity:0.4;
}

#outilAlogo {right : 11vmax ;}
#outilBlogo {right : 8vmax ;}
#outilClogo {right : 5vmax ;}
#outilDlogo {right : 2vmax ;}

#outilAlabel, #outilBlabel, #outilClabel, #outilDlabel {
	text-align: right;
	position : absolute ; 
	bottom : 3.5vmax ; 
	right : 2vmax ; 
	height : 3.5vmax ; 
	z-index: 2;
	/*/*transition: all 400ms;*/*/ 
	display:block;
	font-weight: bold;
	display: none;
	line-height: 0.85em;
	white-space:nowrap;
	opacity: 0.9;
	
}




#outilAlogo:hover, #outilBlogo:hover, #outilClogo:hover, #outilDlogo:hover {
	opacity:0.75;
}

#outilAlogo:hover #outilAlabel, #outilBlogo:hover #outilBlabel, #outilClogo:hover #outilClabel, #outilDlogo:hover #outilDlabel {
	display: block;
	background-color: white;
	padding:1vh 1vh 1vh 1vh;
}

#outilAlogo:hover #outilAlabel {
	margin-right:-11vmax;
}

#outilBlogo:hover #outilBlabel {
	margin-right:-8vmax;
}


#outilClogo:hover #outilClabel {
	margin-right:-5vmax;
}

#outilDlogo:hover #outilDlabel {
	margin-right:-2vmax;
}
	

#shortcutF1label, #shortcutF2label, #shortcutF3label, #shortcutF4label {
	text-align: right;
	position : absolute ; 
	height : 3.5vmax ; 
	right: 0vmax; 
	z-index: 2;
	/*transition: all 400ms;*/
	/*display:none;
	visibility: hidden ;*/
	line-height: 0.85em;
	white-space:nowrap;
	opacity: 1;
	text-align: right ; 
	display: none; }


#shortcutF1:hover {
	opacity:1; }

#shortcutF1:hover #shortcutF1label, #shortcutF2:hover #shortcutF2label, #shortcutF3:hover #shortcutF3label, #shortcutF4:hover #shortcutF4label {
	display: block; visibility: visible ; }





















#toolbox {
	position : absolute;
	z-index: 1; 
	font-size : calc( (1.40vh + 1.35vw)/2 ) ;
	right: 2vmax;
	bottom : 7.5vmax;
	cursor: default;
}
	
#outilBfull, #outilCfull, #outilDfull {
	position : absolute ; 
	background-color : #aabbcc  ;
	right : 2vmax ; 
	width : 18vmax;
	height : 71.5vh ;
	bottom : 4vh ; 
	font-size : 1.2em ;
	display: none; 
	z-index: 4;
}

#outilBreduce, #outilCreduce, #outilDreduce {
	position : absolute ;
	height : 3vmax ; 
	width: 3vmax;
	cursor : pointer ;
	float : right ; 
	right : 0vmax ;
	z-index: 5;
	display: none; 
}

#detailsaboutthismap, 
#commentsaboutthismap,
#downloadthismap,
#copyrightinfos {
	overflow:auto;
	max-height: 70%;
	margin-right: 0.6vw;
	line-height: 1.2em;
}

#DialogConnexion, #FirstTime {
	display:none;
}





.ui-tabs-nav {
	font-size: 0.75em;
}

.swal2-title {
	font-family: Josefin Slab;
	pointer-events: none;
}
.swal2-content {
	font-family: Calibri;
	pointer-events: none;
}

.swal2-cancel, .swal2-confirm {
	font-family: Calibri;
	font-size: 1.4em ;}

.swal2-progress-step {
	font-family: Josefin Slab;
	font-size: 1.4em ;
pointer-events: none;}